* {
    margin-bottom: 15px;
}


.devlog-card p {
    line-height: 1.8;

    font-size: 18px;

    max-width: 800px;
}


.upcoming {
    border-color: rgba(0,183,255,0.4);
}


footer {
    text-align: center;

    padding: 40px;

    background: rgba(0,0,0,0.4);

    margin-top: 60px;
}


@media (max-width: 900px) {

    .hero h1 {
        font-size: 72px;
    }

    .game-section h2,
    .features-section h2,
    .devlogs-section h2 {
        font-size: 42px;
    }

    iframe {
        height: 60vh;
    }

}